/* tailwind */
@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

/* global */
html {
  -webkit-font-smoothing: antialiased;
}

body {
  color: white;
  background-color: black;
  font-family: 'Teko', sans-serif;
}

/* home page cards */
.card-content {
  padding: 1em; 
}

/* player */
.plyr {
  --plyr-color-main: #FCD34D;
  --plyr-audio-controls-background: black;
  --plyr-audio-control-color: #ffffff;
  --plyr-line-height: 1; 
  --plyr-font-smoothing: true;
  --plyr-font-size-time: 24px;
  border: 2px solid #c6c6c6;
}