/* tailwind */
@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

/* global */
html {
  -webkit-font-smoothing: antialiased;
}

body {
  color: white;
  background-color: black;
}

/* player */
:root {
  --plyr-color-main: white;
  --plyr-audio-controls-background: black;
  --plyr-audio-control-color: white;
  --plyr-audio-control-color-hover: black;
  --plyr-menu-color: black;
  --plyr-menu-item-arrow-color: white;
  --plyr-tooltip-color: black;
  --plyr-font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;;
}
