{{ $context := .context }}
{{ $paginator := .paginator }}
<div class="grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 lg:gap-8">
    {{ range $paginator.Pages }}  
        <div class="relative hover:opacity-50 transition-all duration-500 ease-in-out">
          <div class="border-solid border-2">
            <a href="{{ .Permalink }}">
              {{ with .Resources.Match .Params.cover }}
                {{ range . }}
                {{ $photo := .Resize "500x500" }}
                {{ with $photo }}
                  <img class="object-contain" src="{{ .RelPermalink }}" alt="{{ .Title }}" >
                {{ end }}
                {{ end }}
                {{ end }}
              </a>
          </div>         
              <div class="pt-2">
                <a href="{{ .Permalink }}" class="hover:line-through">    
                <h3 class="font-display text-xl sm:text-2xl font-bold">{{ .Title | truncate 25 }}</h3>
              </a>
              </div>
            </div>
  {{ end }}
</div>
</div>