<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Site.Params.description -}}
    <meta name="description" content="{{ . }}">
    {{ end }}
    {{ printf `<link rel="shortcut icon" href="%s">` ("images/favicon.ico" | relURL) | safeHTML }}
    <title>{{ .Title }}</title>
    {{ template "_internal/twitter_cards.html" . }}
    <link rel="canonical" href="{{ .Permalink | absURL }}">
    <link rel="stylesheet" href="{{ "css/psone.min.css" | relURL }}">
    {{ if eq .Type "mix" }}
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.4/plyr.css" />
    {{ end }}
    <link href="{{ "css/styles.css" | absURL }}" rel="stylesheet">
    <link href="{{ "css/custom.css" | absURL }}" rel="stylesheet">
</head>