<header class="site-header relative border-white border-b">
  <nav id="nav" class="mx-auto max-w-full">
	  <div class="flex items-stretch relative">
		<div class="py-2 px-4 md:px-6 flex items-center">
			<a href="/">
				<img src = "{{ .Site.BaseURL }}images/logo-white-on-transparent.svg" width="50" height="50" alt="logo"/>
			</a>
		  </div>
		  <div class="lg:flex ml-auto"></div>
		  <ul class="lg:flex border-l border-white divide-x divide-white">
			<li class="inline-flex items-stretch">
				<a class="text-xl sm:text-2xl hover:line-through p-4 font-display" href="/info">info</a>
			</li>
		  </ul>
	  </div>  
  </nav>
</header>
