<div class="flex-container">
        {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}
        {{ range $paginator.Pages }}  
        <div class="container">
          <div class="card">
             <a href="{{ .Permalink }}" class="index-anchor">    
                  
                  {{ if .Params.images }}
                  {{ with .Resources.Match .Params.images }}
                    {{ range . }}
                      <img class="card-image" width="99.3%" src="{{ .RelPermalink }}" alt="{{ .Title }}">
                    {{ end }}
                    {{ end }}
                  {{ end }}
                  
                  <div class="card-content">
                    <h3 id="card-title">{{ .Title | truncate 25 }}</h3><span class="card-date">{{ .Date.Format "January 2, 2006" }}</span>
                  
                  <p>
                    {{ if .Description }}
                                  {{ .Description | plainify | truncate 180 }}
                                {{ else }}
                                  {{ .Summary | plainify | truncate 180 }}
                                {{ end }}
                    </p>

                  </div>
                </div>
                </a>
        </div> 
          {{ end }}
</div>
