<div class="tracklist">
  <h2>Tracklist</h2>
  {{ $url := .Get 0 }}
  {{ $sep := "," }}
  {{ range $i, $r := getCSV $sep $url }}
  {{ if ge $i 1 }}
  <span class="font-bold text-xl sm:text-2xl text-yellow-300 tracking-widest">{{ index $r 0 }}</span>
  <div class="pb-4 leading-loose flex space-x-4 items-center">
  <span class="text-xl sm:text-2xl">{{ index $r 1 }}</span>
  <span class="text-xl sm:text-2xl">[{{ index $r 2 }}]</span>
  <button type="button" class="btn border-2 border-white font-bold text-xl sm:text-2xl py-1 px-2 sm:px-4"><a class="align-middle" href="{{ index $r 3 }}">SUPPORT</a></button>
  </div>
  {{ end }}
{{ end }}
</div>
