{{ define "main" }}
<div class="p-2 sm:p-6">
      <div class="grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
            {{ $paginator := .Paginate (where .Site.RegularPages "Section" "mixes") }}
            {{ range $paginator.Pages }}  
                <div class="relative hover:opacity-50 transition-all duration-500 ease-in-out" data-mixcloud-play-button="/cloud696/{{ .Params.mix_url }}/">
                      {{ with .Resources.Match .Params.images }}
                        {{ range . }}
                        {{ $photo := .Resize "400x400" }}
                        {{ with $photo }}
                          <img class="object-contain" src="{{ .RelPermalink }}" alt="{{ .Title }}" >
                        {{ end }}
                        {{ end }}
                        {{ end }}
                      <div class="font-display absolute top-0 left-0 fill-current py-2 px-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 16 16">
                          <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                        </svg>
                    </div>
                      <div class="card-content">
                        <a href="{{ .Permalink }}" class="hover:line-through">    
                        <h3 class="font-display text-3xl font-bold">{{ .Title | truncate 25 }}</h3>
                        <p class="font-display text-xl font-bold text-yellow-300">{{ .Date.Format "January 2, 2006" }}</p>
                      </a>
                      </div>
                    </div>
          {{ end }}
        </div>
    </div>
    <div class="p-2 sm:p-6">
    {{ partial "pagination.html" . }}
  </div>
{{ end }}