{{ define "main" }}
<div class="p-2 sm:p-6">
      <div class="grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2 sm:gap-6">
            {{ $paginator := .Paginate (where .Site.RegularPages "Section" "mixes") }}
            {{ range $paginator.Pages }}  
                <div class="relative hover:opacity-50 transition-all duration-500 ease-in-out">
                  <a href="{{ .Permalink }}">
                      {{ with .Resources.Match .Params.images }}
                        {{ range . }}
                        {{ $photo := .Resize "400x400" }}
                        {{ with $photo }}
                          <img class="object-contain" src="{{ .RelPermalink }}" alt="{{ .Title }}" >
                        {{ end }}
                        {{ end }}
                        {{ end }}
                      </a>
                      <div class="card-content">
                        <a href="{{ .Permalink }}" class="hover:line-through">    
                        <h3 class="font-display text-xl sm:text-2xl font-bold">{{ .Title | truncate 25 }}</h3>
                      </a>
                      </div>
                    </div>
          {{ end }}
        </div>
    </div>
    {{ partial "pagination.html" . }}
  </div>
{{ end }}