{{ define "main" }}
<article class="box-content p-4 sm:p-8">
  <div class="pb-4">
    <header class="inline-block items-center">
      <h1 class="inline font-display font-bold text-3xl sm:text-4xl align-bottom">{{ .Title }}</h1>
      {{ partial "metadata.html" . }}
    </header>
  </div>
  {{ if isset .Params "mix_url" }}
  <a class="align-middle" href="https://www.mixcloud.com{{ .Params.mix_url }}">
  <button type="button" class="btn hidden font-display border-2 border-white font-bold text-sm lg:text-base p-1 hover:bg-white hover:text-black">
    mixcloud
  </button>
</a>
  {{ end }}
  <div class="font-body prose lg:prose-lg xl:prose-xl">
    {{ .Content }}
  </div>
  <script type="module" src="https://cdn.jsdelivr.net/npm/vidstack/dist/cdn/prod.js"></script>
</article>
{{ end }}
