* {
  -webkit-font-smoothing: antialiased;
}

/* body */
body {
  width: 100%;
  padding: 0rem 1rem 1rem 1rem;
  line-height: 80%;
}

/* paragraphs */
p {
  padding-left: 0;
}

/* images */
img {
    max-width: 100%;
    margin: 0 auto;
}

figure img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

figure figcaption {
    font-size: 1em;
    font-style: italic;
    line-height: 22px;
    text-align: center;
    margin-top: 6px;
    padding: 0 10px;
}

/* navigation */
.site-header {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/* containers */
.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  word-wrap: break-word;
}

/* page content */
main#content {
  padding-bottom: 3rem;
}

main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1;
}

main#content h1 + p,
main#content h2 + p,
main#content h3 + p,
main#content h4 + p,
main#content h5 + p,
main#content h6 + p {
    margin-top: 0;
}

/* home page cards */
.card {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: relative; }
  .card #card-title {
    margin: 0;
    line-height: 0.8; }
  .card p {
  	padding: 0;
    margin: 0 0 10px;
    font-size: 2rem; }
  .card .card-date {
    margin: 0 0 15px;
    font-size: 1.8rem;
    color: #E76C67; }
  .card .card-image {
  	border: 2px solid #c6c6c6;
  	border-radius: 8px 8px 0 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .card .card-content {
    padding: 0.1em 0.5em 0.5em 0.3em; 
}

.index-anchor {
    text-decoration: none;
    color: white;
}

.index-anchor:hover {
    text-decoration: none;
    color: white;
}

/* post titling */
main#content header#post-header h1#post-title {
    font-size: 1.5em;
    margin-bottom: 0;
}

main#content header#post-header a.tags {
    font-size: 0.92em;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

time {
    display: block;
    font-size: 0.92em;
    color: #E76C67;
    margin-block-end: 0.25em;
}

/* buttons */
main#content .btn {
  font-size: 16px;
  padding: 0 2rem 0 2rem;
}

/* tracklist */
.tracklist span {
  line-height: 10px;
}

.tracklist .artist-name {
  font-size: 35px;
  color: gold;
}