/* global */
* {
  -webkit-font-smoothing: antialiased;
}

body {
  color: white;
  background-color: black;
}

/* images */
figure figcaption {
    font-style: italic;
    text-align: center;
    padding: 1rem;
}


/* home page cards */
.card p.card-date {
  color: gold;
}
.card .card-content {
  padding: 1em; 
}

/* post titling */
time {
    color: gold;
}

/* tracklist */
.tracklist .artist-name {
  color: gold;
}

/* player */
.plyr {
  --plyr-color-main: gold;
  --plyr-audio-controls-background: black;
  --plyr-audio-control-color: #ffffff;
  --plyr-line-height: 1; 
  --plyr-font-smoothing: true;
  border: 2px solid #c6c6c6;
}